< configuration >
< appSettings >
        < !--update these with your appid and one of your appsecret keys-->
        < add key = "MicrosoftAppId" value = "0db514c4-4d61-43f5-83f0-5c6123f49ab2" />
        < add key = "MicrosoftAppPassword" value = "jtLXnnoVjBmnkNGZ9paohs2" />
</ appSettings >
</configuration>
